.App {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.app {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.app-header {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.signin-msg {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.signin-btn {
	width: auto;
	margin: auto;
}

.login-page {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.dashboard {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.match {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.match-list {
	border: 2px solid;
}

.prediction-team-container {
	background-color: whitesmoke;
	opacity: 0.6;
	padding: 10px;
	margin: 10px;
	border: 2px solid;
	pointer-events: all;
	display: flex;
	align-items: center;
	width: 200px;
}

.history-team-container {
	background-color: whitesmoke;
	opacity: 0.6;
	padding: 10px;
	margin: 10px;
	border: 2px solid;
	display: flex;
	align-items: center;
	width: 350px;
}

.history-users-preds {
}

.versus {
	height: 50px;
	width: 50px;
	background-color: whitesmoke;
	border-radius: 50%;
	opacity: 0.6;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid;
}

.submit-predictions-btn {
	position: relative;
	top: 10px;
	scale: 1.7;
}

.submit-predictions-str {
	padding-top: 20px;
}

.theme-btn {
	position: absolute;
	bottom: 0;
	right: 0;
}

.prediction-window {
	padding: 40px;
	flex: 1;
}

.leaderboard-window {
	padding: 40px;
	flex: 1;
}

.management {
	text-align: center;
}

.tournament {
	display: flex;
}

.leaderboard-entry {
	border: 1px solid;
	background-color: #f5f5f5; /* this is whitesmoke */
	opacity: 0.6;
	display: flex;
	align-items: center;
	width: 100%;
}

.leaderboard-list {
	border: 2px solid;
}

.score-container {
	border: 1px solid;
}

.leaderboard-day-select {
	background-color: #f5f5f5;
	opacity: 0.6;
}

.top-eight-page {
	background-color: #959595;
}

.top-eight {
	display: flex;
}

.top-eight-picks-wrapper {
	background-color: #959595;
	display: inline-block;
	padding: 5px;
}

.top-eight-picks {
	display: grid;
	border: 1px solid;
}

.top-eight-list-wrapper {
	background-color: #959595;
	display: inline-block;
	padding: 5px;
}

.top-eight-list {
	display: grid;
	border: 2px solid;
}

.top-eight-bucket {
	border: 2px solid;
	width: 350px;
	height: 45px;
}

.empty {
	border: 1px;
	opacity: 0.5;
}

.top-eight-team {
	background-color: #dadada;
	/*opacity: 0.6;*/
	display: inline-block;
	border: 2px solid;
	border-color: #d6b7ff;
	width: 346px;
	height: 41px;
	font-size: 24px;
	line-height: 50px;
	text-align: left;
}

.top-eight-team-info {
	display: inline-block;
	width: 346px;
	height: 41px;
	font-size: 24px;
	line-height: 50px;
	text-align: left;
}

.top-eight-team-logo {
	/* fuck off */
	width: 10%;
}
